@use 'base/variables' as v;
@use 'base/mixins' as m;

.boton {
    @include m.boton(v.$azul, v.$blanco);
}

.boton-crear {
    @include m.boton(v.$amarillo, v.$negro);
}

.botones-superior {

    display: block;

    @include m.tablet {
        display: flex;
        
        a {
            width: 50%;
        }
    }
}

.boton-borrar {
    @include m.boton(v.$rojo, v.$blanco);

    @include m.tablet {
        text-align: center;
    }
}