@use 'base/variables' as v;
@use 'base/mixins' as m;

.buscador {
    display: flex;
    margin-top: 2rem;
    justify-content: space-evenly;

    input[type="search"] {
        border: .5px solid lighten(v.$azul, 25%);
        width: 40%;
        text-align: center;
        border-radius: 1rem;
    }

    .boton-crear {
        margin: 0;
        color: v.$blanco;
    }
}