@use 'base/variables' as v;
@use 'base/mixins' as m;

.formulario {
    margin: 5rem 1rem;
    width: 100%;
}

.campo {
    @include m.tablet {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    margin-bottom: 2rem;
    display: block;

    label {
        flex: 0 0 10rem;
    }

    input,
    select,
    textarea {
        border: none;
        border-radius: 1rem;
        width: 90%;
        padding: calc(v.$separacion / 4);
        background-color: darken(v.$blanco, 5);
        text-transform: uppercase;

        @include m.tablet{
            flex: calc(5 / 6);
        }
    }
}