@use 'base/variables' as v;
@use 'base/mixins' as m;

.cotizador {

    display: block;
    margin: 0 1rem;

    @include m.tablet {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        margin: 1rem;
    }
    .productoDiv {
        h3 {
            text-transform: capitalize;
            font-size: 2rem;
            font-weight: 400;
        }

        h4 {
            text-align: center;
            font-weight: bold;
            font-size: 1.5rem;
        }

        .cantidad-descuento {
            display: flex;
            justify-content: space-around;
            align-items: center;

             p{
                 color: v.$azul;
                 font-size: 1.5rem;
                 text-transform: capitalize;
             }
        }
    }
}