@use 'base/variables' as v;
@use 'base/mixins' as m;

.dashboard {
    background-color: lighten(v.$gris, 75%);

    @include m.tablet {
        display: flex;
        height: 100vh;
    }

    .principal {
        flex: 1;
        overflow: scroll;
    }

    .contenido-pagina {
        padding: 2rem;
        
    }
}